APP_HOST=localhost
APP_PORT=3000

MONGODB=mongodb://
MONGODB_USER=devuser
MONGODB_PASSWORD=devpassword
MONGODB_HOST=db-mongo
MONGODB_PORT=27017
MONGODB_DB=cvdata
MONGODB_URL=mongodb://$MONGODB_HOST:$MONGODB_PORT/$MONGODB_DB
CLOUDINARY_URL=cloudinary://fghjk
CLOUDINARY_SECRET=sdfghjkldfgcaysajkl
CLOUDINARY_KEY=3456789000987654
CLOUDINARY_NAME=sdfghjkl
# last comment is nesessery 