APP_HOST=localhost
APP_PORT=3000

MONGODB=mongodb://
MONGODB_USER=devuser
MONGODB_PASSWORD=devpassword
MONGODB_HOST=db-mongo
MONGODB_PORT=27017
MONGODB_DB=cvdata
MONGODB_URL=$MONGODB$MONGODB_HOST:$MONGODB_PORT/$MONGODB_DB
# last comment is nesessery