<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <style>
      body {
        width: 100vw;
        height: 100vh;
      }

      body section {
        margin-left: auto;
        margin-right: auto;
      }

      body section h1,
      body section p {
        text-align: center;
        font-size: 4vh;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>404</h1>
      <p>somesing went wrong!</p>
      <p>return to <a href="https://personal-cv-api-ivan-lavers-projects.vercel.app/">Docs</a></p>
    </section>
  </body>
</html>
