<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/new-password/new-password.css" />
    <title>new password</title>
  </head>
  <body>
    <form id="form-new-password" action="">
      <h1>NEW PASSWORD</h1>
      <input type="password" name="password" />
      <input type="password" name="password-repeat" />
      <button type="submit">submit</button>
      <p data-message class="message-good"></p>
    </form>
    <script src="/new-password/new-password.js"></script>
  </body>
</html>
