<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
  </head>

  <body>
    <main>
      <h1 style="color: blue; text-align: center">Hello, {{name}}!</h1>
      <p style="text-align: center">Click <a href="{{link}}">here</a> to reset your password!</p>
    </main>
    <footer>
      <hr style="width: 100%" />
      <p style="text-align: center">personal cv admin</p>
    </footer>
  </body>
</html>
